@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

h1, h2, h3, h4 , h5, p, span {
  color: black;
}
.bg-blue {
  background-color: #2489D3;
}

.text-blue {
  color: #2489D3;
}

.bg-dark-blue {
  background-color: #1d689f;
}

.text-gray {
  color: #2c2c2c;
}

.text-yellow {
  color: #F0C932;
}

.text-orange {
  color: #FE753F;
}

.bg-light-gray {
  background-color: #F8F8F8;
}

.border-blue {
  border-color: #2489D3;
}